ngrams
ngram/NGRAM_DE.zip
ngram/NGRAM_EN.zip
ngram/de/1grams/_10_Lucene50_0.doc
ngram/de/1grams/_10_Lucene50_0.tim
ngram/de/1grams/_10_Lucene50_0.tip
ngram/de/1grams/_10.fdt
ngram/de/1grams/_10.fdx
ngram/de/1grams/_10.fnm
ngram/de/1grams/_10.nvd
ngram/de/1grams/_10.nvm
ngram/de/1grams/_10.si
ngram/de/1grams/segments_1
ngram/de/1grams/write.lock
ngram/de/2grams/_p9_Lucene50_0.doc
ngram/de/2grams/_p9_Lucene50_0.tim
ngram/de/2grams/_p9_Lucene50_0.tip
ngram/de/2grams/_p9.fdt
ngram/de/2grams/_p9.fdx
ngram/de/2grams/_p9.fnm
ngram/de/2grams/_p9.nvd
ngram/de/2grams/_p9.nvm
ngram/de/2grams/_p9.si
ngram/de/2grams/segments_1
ngram/de/2grams/write.lock
ngram/de/3grams/_t1_Lucene50_0.doc
ngram/de/3grams/_t1_Lucene50_0.tim
ngram/de/3grams/_t1_Lucene50_0.tip
ngram/de/3grams/_t1.fdt
ngram/de/3grams/_t1.fdx
ngram/de/3grams/_t1.fnm
ngram/de/3grams/_t1.nvd
ngram/de/3grams/_t1.nvm
ngram/de/3grams/_t1.si
ngram/de/3grams/segments_1
ngram/de/3grams/write.lock
ngram/en/1grams/_1p_Lucene41_0.doc
ngram/en/1grams/_1p_Lucene41_0.pos
ngram/en/1grams/_1p_Lucene41_0.tim
ngram/en/1grams/_1p_Lucene41_0.tip
ngram/en/1grams/_1p.fdt
ngram/en/1grams/_1p.fdx
ngram/en/1grams/_1p.fnm
ngram/en/1grams/_1p.nvd
ngram/en/1grams/_1p.nvm
ngram/en/1grams/_1p.si
ngram/en/1grams/segments_1
ngram/en/1grams/segments.gen
ngram/en/1grams/write.lock
ngram/en/2grams/_t_Lucene41_0.doc
ngram/en/2grams/_t_Lucene41_0.tim
ngram/en/2grams/_t_Lucene41_0.tip
ngram/en/2grams/_t.fdt
ngram/en/2grams/_t.fdx
ngram/en/2grams/_t.fnm
ngram/en/2grams/_t.si
ngram/en/2grams/_u_Lucene41_0.doc
ngram/en/2grams/_u_Lucene41_0.pos
ngram/en/2grams/_u_Lucene41_0.tim
ngram/en/2grams/_u_Lucene41_0.tip
ngram/en/2grams/_u.fdt
ngram/en/2grams/_u.fdx
ngram/en/2grams/_u.fnm
ngram/en/2grams/_u.nvd
ngram/en/2grams/_u.nvm
ngram/en/2grams/_u.si
ngram/en/2grams/_v_Lucene41_0.doc
ngram/en/2grams/_v_Lucene41_0.pos
ngram/en/2grams/_v_Lucene41_0.tim
ngram/en/2grams/_v_Lucene41_0.tip
ngram/en/2grams/_v.fdt
ngram/en/2grams/_v.fdx
ngram/en/2grams/_v.fnm
ngram/en/2grams/_v.nvd
ngram/en/2grams/_v.nvm
ngram/en/2grams/_v.si
ngram/en/2grams/segments_2
ngram/en/2grams/segments_3
ngram/en/2grams/segments.gen
ngram/en/2grams/write.lock
ngram/en/3grams/_1e4_Lucene50_0.doc
ngram/en/3grams/_1e4_Lucene50_0.tim
ngram/en/3grams/_1e4_Lucene50_0.tip
ngram/en/3grams/_1e4.fdt
ngram/en/3grams/_1e4.fdx
ngram/en/3grams/_1e4.fnm
ngram/en/3grams/_1e4.nvd
ngram/en/3grams/_1e4.nvm
ngram/en/3grams/_1e4.si
ngram/en/3grams/segments_1
ngram/en/3grams/write.lock
